<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description"
    content="Página web de la libreria BooksWeNeed, ofrece información detallada sobre los libros de los que disponemos.">
  <meta name="keywords"
    content="biblioteca bilbao, libreria bilbao, libros bilbao, club de lectura bilbao, recomendaciones libros bilbao, lectura bilbao, cafe libros bilbao">
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>