<template>
  <section class="admin-page">
    <h1 title="welcome admin">Bienvenido, Admin</h1>
    <article class="admin adding user tools">
      <AdminRegisterUser />
    </article>
    <article class="admin adding books tools">
      <AdminRegisterBook />
    </article>
    <button @click="logOut" class="logOut-btn">Log Out</button>
  </section>
</template>

<script>
import store from "@/store.js";
import AdminRegisterBook from "./AdminRegisterBook.vue";
import AdminRegisterUser from "./AdminRegisterUser.vue";

export default {
  name: "AdminPage",
  components: {
    AdminRegisterUser,
    AdminRegisterBook,
  },
  data() {
    return {
      msgWelcomeAdmin: "",
    };
  },
  methods: {
    logOut() {
      store.user = null;
      store.admin = null;
      this.$router.push("/");
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: "Roboto";
}

.admin-page {
  padding: 0.3rem 3.3rem;
  border-radius: 1rem;
  background: #cccccc;
  -webkit-box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
  box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
  margin-bottom: 1rem;
  width: 30rem;
  opacity: 0.9;
}
button {
  font-size: 1rem;
  border: none;
  border-radius: 200%;
  cursor: pointer;
  background: rgb(192, 102, 80);
  padding: 0.7rem 1.4rem;
  margin-top: 0rem;
  margin-left: 23rem;
  color: white;
}

button:hover {
  background: rgba(133, 118, 94, 0.9);
}
</style>
