<template>
  <form class="register-new-book">
    <h1>{{ msgNewBook }}</h1>
    <section class="imput-book-area">
      <article class="register-book-form-field">
        <label for="bookId">ID:</label>
        <input
          type="text"
          class="bookId"
          v-model="newBook.BOOK_ID"
          placeholder="Id de libro"
        />
      </article>
      <article class="register-book-form-field">
        <label for="Title">Título:</label>
        <input
          type="text"
          class="Title"
          v-model="newBook.TITTLE"
          placeholder="Título"
        />
      </article>
      <article class="register-book-form-field">
        <label for="Autor">Autor:</label>
        <input
          type="text"
          class="Author"
          v-model="newBook.AUTHOR"
          placeholder="Autor"
        />
      </article>
      <article class="register-book-form-field">
        <label for="copies">Copias:</label>
        <input
          type="text"
          class="copies"
          v-model="newBook.UNITS"
          placeholder="copias"
        />
      </article>
      <article class="register-book-form-field">
        <label for="description">Descripción:</label>
        <input
          type="text"
          class="description"
          v-model="newBook.DESCRIPTION"
          placeholder="Descripción"
        />
      </article>
      <article class="register-book-form-field">
        <label for="available">¿Está disponible?:</label>
        <input
          type="text"
          class="available"
          v-model="newBook.AVAILABLE"
          placeholder="¿Está Disponible?"
        />
      </article>
      <article class="register-book-form-field">
        <label for="URL">URL:</label>
        <input
          type="text"
          class="URL"
          v-model="newBook.URL"
          placeholder="URL"
        />
      </article>
      <article class="register-book-form-field">
        <label for="image">Imagen portada:</label>
        <input
          type="text"
          class="image"
          v-model="newBook.IMG"
          placeholder="Imagen Portada (Data)"
        />
      </article>
      <section class="validate-book">
        <h4 v-if="showOK" class="OK">{{ OK }}</h4>
        <button @click="createNewBook" class="update-books-list">
          Dar de alta
        </button>
        <button @click="goList" class="goToList-btn">Muestra la lista</button>
      </section>
    </section>
  </form>
</template>

<script>
import api from "@/api.js";
export default {
  name: "AdminRegisterBook",

  data() {
    return {
      OK: "El libro se ha dado de alta",
      msgNewBook: "Dar de alta nuevo libro",
      newBook: {
        BOOK_ID: null,
        TITTLE: null,
        AUTHOR: null,
        UNITS: null,
        DESCRIPTION: null,
        AVAILABLE: null,
        URL: null,
        IMG: null,
      },
    };
  },
  props: {
    showOK: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    async createNewBook() {
      await api.createNewBook(this.newBook);
      this.showOK = true;

      this.newBook.BOOK_ID = null;
      this.newBook.TITTLE = null;
      this.newBook.AUTHOR = null;
      this.newBook.UNITS = null;
      this.newBook.DESCRIPTION = null;
      this.newBook.AVAILABLE = null;
      this.newBook.URL = null;
      this.newBook.IMG = null;
      this.$router.push("/updatedlists");
    },
    goList() {
      this.$router.push("/updatedLists");
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.stores {
  margin-top: 1.5rem;
  border-top: black 5px double;
}
.imput-book-area {
  border: none;
  border-radius: 1rem;
  background: #27405e;
  padding: 0.7rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.register-book-form-field {
  padding: 10px;
  position: relative;
}
.register-book-form-field input {
  float: right;
}
.update-books-list {
   border: none;
cursor: pointer;
background: rgb(192, 102, 80);
padding: 0.7rem 1.4rem;
margin-top: 1rem;
margin-left: 20rem;
color: white;
}
.goToList-btn {
  font-size: 1rem;
    border: none;
    cursor: pointer;
    background: rgb(192, 102, 80);
    padding: 0.7rem 1.4rem;
    margin-top: 0rem;
    margin-left: 9rem;
    color: white;
}
</style>
