<template>
  <form class="register-new-user">
    <h1>{{ msg }}</h1>
    <section class="imput-user-area">
      <article class="register-user-form-field">
        <label for="userId">ID:</label>
        <input
          type="text"
          class="userId"
          v-model="newUser.ID"
          placeholder="Id de usuario"
        />
      </article>
      <article class="register-user-form-field">
        <label for="userName">Nombre:</label>
        <input
          type="text"
          class="userName"
          v-model="newUser.NAME"
          placeholder="Nombre"
        />
      </article>
      <article class="register-user-form-field">
        <label for="userSurname">Apellidos:</label>
        <input
          type="text"
          class="userSurname"
          v-model="newUser.SURNAME"
          placeholder="Apellidos"
        />
      </article>
      <article class="register-user-form-field">
        <label for="userEmail">Email:</label>
        <input
          type="text"
          class="userEmail"
          v-model="newUser.EMAIL"
          placeholder="Correo electrónico"
        />
      </article>
      <article class="register-user-form-field">
        <label for="userPassword">Contraseña:</label>
        <input
          type="text"
          class="userPassword"
          v-model="newUser.PASSWORD"
          placeholder="Contraseña"
        />
      </article>
      <article class="register-user-form-field">
        <label for="adminOrNot">¿Es administrador?:</label>
        <input
          type="text"
          class="adminOrNot"
          v-model="newUser.ADMIN"
          placeholder="Indica si es nuevo admin"
        />
      </article>
      <div class="validate-user">
        <button @click="createNewUser">Dar de alta</button>
      </div>
    </section>
  </form>
</template>

<script>
import api from "@/api.js";
export default {
  name: "AdminRegisterUser",

  data() {
    return {
      msg: "Añade nuevo usuario",
      newUser: {
        ID: null,
        NAME: null,
        SURNAME: null,
        EMAIL: null,
        PASSWORD: null,
        ADMIN: null,
      },
    };
  },
  methods: {
    async createNewUser() {
      await api.createNewUser(this.newUser);
      this.newUser.ID = null;
      this.newUser.NAME = null;
      this.newUser.SURNAME = null;
      this.newUser.EMAIL = null;
      this.newUser.PASSWORD = null;
      this.newUser.ADMIN = null;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.stores {
  margin-top: 1.5rem;
  border-top: black 5px double;
}
.imput-user-area {
  border: none;
  border-radius: 1rem;
  background: #27405e;
  padding: 0.7rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.register-user-form-field {
  padding: 10px;
  position: relative;
}
.register-user-form-field input {
  float: right;
}

button {
 border: none;
cursor: pointer;
background: rgb(192, 102, 80);
padding: 0.7rem 1.4rem;
margin-top: 1rem;
margin-left: 20rem;
color: white;
}

button:hover {
  background: rgba(133, 118, 94, 0.9);
}
</style>
