<template>
  <section class="uploaded-books-list">
    <title>Lista de libros actualizada</title>
    <article class="results" v-for="libro in booksList" :key="libro.id">
      <p class="results-list">{{ libro.TITTLE }} - {{ libro.AUTHOR }}</p>
      <img class="book-img" v-bind:src="libro.IMG" />
    </article>
  </section>
</template>

<script>
import api from "@/api.js";
export default {
  name: "UpdatedBookList",

  data() {
    return {
      booksList: {
        type: Array,
      },
      libro: {
        type: Object,
      },
    };
  },
  mounted: function() {
    this.loadBooksList();
  },
  methods: {
    async loadBooksList() {
      const response = await api.loadBooksData();
      this.booksList = await response.json();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: "Roboto";
}
.uploaded-books-list {
  scroll-margin-right: 5px;
  height: 19rem;
  overflow: auto;
  text-align: left;
  font-size: 0.8rem;
}

.results {
  border: none;
  border-radius: 1rem;
  background: #27405e;
  padding: 0.7rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.book-img {
  width: 119px;
  height: 135px;
  margin-top: -5rem;
}

.url-book {
  color: red;
  font-size: 17px;
  margin-left: 2rem;
  font-weight: bold;
}
.results-list {
  font-family: "Roboto";
  margin-left: 10rem;
}
</style>
