<template>
  <section class="updated-lists-page">
    <h1 title="updated-list">Lista actualizada</h1>
    <article>
      <UpdatedBookList />
    </article>
    <button @click="goAdmin" class="logOut-btn">Volver a Admin</button>
  </section>
</template>

<script>
import UpdatedBookList from "./UpdatedBookList";

export default {
  name: "UpdatedListsPage",
  components: {
    UpdatedBookList,
  },
  methods: {
    goAdmin() {
      this.$router.push("/admin");
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: "Roboto";
}

.updated-lists-page {
  padding: 1.3rem 3.3rem;
border-radius: 1rem;
background: #cccccc;
-webkit-box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
margin-bottom: 0rem;
width: 30rem;
opacity: 0.9;
}
button {
  font-size: 1rem;
border: none;
cursor: pointer;
background: rgb(192, 102, 80);
padding: 0.7rem 1.4rem;
margin-top: 1rem;
margin-left: 10rem;
color: white;
}

button:hover {
  background: rgba(133, 118, 94, 0.9);
}
</style>
