<template>
  <section class="books-item">
    <p class="full-book">{{ fullBook }}</p>
    <img class="book-img" v-bind:src="simpleBook.IMG" />
    <a target="_blank" class="url-book" v-bind:href="simpleBook.URL"
      >Sobre el libro...</a
    >
  </section>
</template>

<script>
export default {
  name: "BooksItem",
  props: {
    simpleBook: {
      type: Object,
    },
  },

  computed: {
    fullBook: function() {
      return `${this.simpleBook.TITTLE} - ${this.simpleBook.AUTHOR}`;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.books-item {
  border: none;
  border-radius: 1rem;
  background: #27405e;
  padding: 0.7rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.full-book {
  font-family: "Roboto";
  margin-left: 10rem;
}
.book-img {
  width: 141px;
  height: 148px;
  margin-top: -4rem;
}
.url-book {
  color: red;
  font-size: 17px;
  margin-left: 2rem;
  font-weight: bold;
}
</style>
