<template>
<section class="books-list">
  <article v-if="!showSearchResults">
    <h1>{{ msgSuggestions }}</h1>
    <div v-for="n in 3" :key="n.id">
      <BooksItem :simpleBook="booksData[n - 1]" />
    </div>
  </article>
</section>
</template>

<script>
import BooksItem from "@/components/Principal/BooksItem.vue";
export default {
  name: "BooksList",
  components: {
    BooksItem,
  },
  data() {
    return {
      msgSuggestions: "Nuestras sugerencias del mes",
    };
  },
  props: {
    showSearchResults: {
      proptype: Boolean,
      required: true,
    },
    booksData: {
      proptype: Array,
      required: true,
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
