<template>
  <section class="books-page">
    <article class="welcome-user">
      <h1 title="W">Bienvenido a BooksWeNeed, {{ msg }}</h1>
      <button @click="logOut" class="logOut-btn">Log Out</button>
    </article>
    <article class="input-search">
      <input type="text" v-model="searchBooks" placeholder="Search books..." />
      <div class="search-btns">
        <button v-if="showSearchResults" class="search-btn" @click="btnBack">
          Atrás
        </button>
        <button v-if="!showSearchResults" class="search-btn" @click="btnSearch">
          Buscar
        </button>
      </div>
    </article>
    <BooksList :booksData="booksData" :showSearchResults="showSearchResults" />
    <BooksSearchResult
      :allBooks="booksData"
      :showSearchResults="showSearchResults"
      :searchBooks="searchBooks"
    />
  </section>
</template>

<script>
import api from "@/api.js";
import store from "@/store.js";
import BooksList from "./BooksList.vue";
import BooksSearchResult from "@/components/Principal/BooksSearchResult.vue";
export default {
  name: "BooksPage",
  components: {
    BooksList,
    BooksSearchResult,
  },
  data() {
    return {
      msg: store.user,
      hide: {
        default: true,
      },
    };
  },
  props: {
    showSearchResults: {
      proptype: Boolean,
      required: true,
      default: false,
    },
    searchBooks: {
      proptype: String,
      default: "",
    },
    booksData: {
      proptype: Array,
      required: true,
    },
  },

  mounted: function() {
    this.loadBooksList();
  },
  methods: {
    logOut() {
      store.user = null;
      this.$router.push("/");
    },
    btnBack() {
      this.showSearchResults = false;
      this.searchBooks = "";
    },
    btnSearch() {
      if (this.showSearchResults == false) {
        this.showSearchResults = true;
      }
    },
    async loadBooksList() {
      const response = await api.loadBooksData();
      this.booksData = await response.json();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: "Roboto";
}
.logo {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.input-search {
  border: none;
  border-radius: 1rem;
  background: #51393c;
  padding: 0.7rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.books-page {
  padding: 0.3rem 3.3rem;
  border-radius: 1rem;
  background: #cccccc;
  -webkit-box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
  box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
  margin-bottom: 1rem;
  margin-left: 5rem;
  width: 56%;

  opacity: 0.9;
}

.welcome-user {
  border: none;
  border-radius: 1rem;
  background: #8a93a4;
  padding: 0.7rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

button:focus {
  outline: none;
}
.search-btn {
  font-size: 1rem;
  border: none;
  border-radius: 200%;
  cursor: pointer;
  background: rgb(192, 102, 80);
  padding: 0.7rem 1.4rem;
  margin-top: 0rem;
  margin-left: 19rem;
  color: white;
}
.search-btn:hover {
  background: rgb(171, 57, 54);
}
.logOut-btn {
    font-size: 1rem;
    border: none;
    border-radius: 200%;
    cursor: pointer;
    background: #27405e;
    padding: 0.7rem 1.4rem;
    margin-top: 0rem;
    margin-left: 27rem;
    color: white;

}
.logOut-btn:hover {
  background: rgb(105, 80, 130);
}
</style>
