<template>
  <section v-if="showSearchResults" class="books-search-results">
    <h1>{{ msgResults }}</h1>
    <article v-if="findBook.length == 0" class="no-book">
      No hay coincidencias con "{{ searchBooks }}"
    </article>
    <article class="results" v-for="libro in findBook" :key="libro.id">
      <p class="results-list">{{ libro.TITTLE }} - {{ libro.AUTHOR }}</p>
      <img class="book-img" v-bind:src="libro.IMG" />
      <a target="_blank" class="url-book" v-bind:href="libro.URL"
        >Sobre el libro...</a
      >
    </article>
  </section>
</template>

<script>
export default {
  name: "BooksSearchResult",

  props: {
    showSearchResults: {
      proptype: Boolean,
      required: true,
    },
    searchBooks: {
      proptype: String,
    },
    allBooks: {
      type: Object,
    },
  },

  data() {
    return {
      msgResults: "Resultados de la búsqueda",
      librosBuscados: {
        type: Array,
      },
      libro: {
        type: Object,
      },
    };
  },
  computed: {
    findBook: function() {
      return this.allBooks.filter((allBooks) =>
        allBooks.TITTLE.toLowerCase().includes(this.searchBooks.toLowerCase())
      );
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: "Roboto";
}
.books-search-results {
  height: 19rem;
  overflow: auto;
  text-align: left;
  font-size: 0.8rem;
}
.results {
  border: none;
  border-radius: 1rem;
  background: #27405e;
  padding: 0.7rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.book-img {
  width: 119px;
  height: 135px;
  margin-top: -5rem;
}

.url-book {
  color: red;
  font-size: 17px;
  margin-left: 2rem;
  font-weight: bold;
}
.results-list {
  font-family: "Roboto";
  margin-left: 10rem;
}
</style>
