<template>
  <section class="home-page">
    <h1 title="welcome mensaje">Bienvenido a BooksWeNeed , pulsa en boton Login para acceder</h1>
    <div>
      <button @click="onClick">Login</button>
    </div>
  </section>
</template>

<script>
export default {
  name: "Home",
  methods: {
    async onClick() {
      this.$router.push("/login");
    },
  },
};
</script>

<style>
.home-page {
  padding: 0.3rem 3.3rem;
  border-radius: 1rem;
  background: #cccccc;
  -webkit-box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
  box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
  margin-bottom: 1rem;
  margin-left: 5rem;
  width: 30rem;
  opacity: 0.9;
  margin-top: 30%;
}
button {
  font-size: 1rem;
  border: none;
  border-radius: 200%;
  cursor: pointer;
  background: rgb(192, 102, 80);
  padding: 0.7rem 1.4rem;
  margin-top: 0rem;
 margin-left: 42%;
  color: white;
}

button:hover {
  background: rgba(133, 118, 94, 0.9);
}
</style>
