<template>
  <div>
    <h1>Mi perfil</h1>
    <div id="message">{{message}}</div>
  </div>
</template>

<script>
import api from "@/api.js";

export default {
  name: "MyProfile",
  data() {
    return {
      message: ""
    };
  },
  async mounted() {
    const response = await api.getProfile();
    if (response.ok) {
      this.message = response.data;
    } else {
      this.$router.push("/login");
    }
  }
};
</script>
<style>
</style>