<template>
  <div class="app">
    <!-- <img src="@/assets/library.jpg" alt="Fondo biblioteca moderna" class="logo"/>-->
    <div class="web">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",

  watch: {
    $route: {
      immediate: true,
      handler(to) {
        document.title = to.meta.title || "BooksWeNeed";
      },
    },
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.app {
  /* Take full size */
  height: 184%;
  width: 100%;

  /* Background */
 background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  background-size: cover;
  position: absolute;
}

.web {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(171, 57, 54);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 80%;
}
h1 {
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .app {
    height: 184%;
    width: 100%;
    background-size: cover;
    position: absolute;
    background-image: none;
    background-color: brown;
  }
}
</style>
