<template>
  <section class="login-page">
    <h1 title="Login page">Login</h1>
    <form class="input-login">
      <div>
        <label for="text">Email:</label>
        <input type="text" v-model="email" />
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input type="password" v-model="password" />
        <button @click="onClick">Entrar</button>
      </div>
      <div v-if="showError" class="error">{{ error }}</div>
    </form>
  </section>
</template>

<script>
import store from "@/store.js";
import api from "@/api.js";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      error: "",
      usersArray: {
        proptype: Array,
        required: true,
      },
    };
  },
  props: {
    showError: {
      type: Boolean,
      default: false,
    },
    login: {
      type: Boolean,
    },
    admin: {
      type: Boolean,
    },
  },
  mounted: function() {
    this.loadUsersArray();
  },
  methods: {

    async loadUsersArray() {
      const response = await api.loadUsersData();
       this.usersArray = await response.json();
     },
  
    async onClick() {
      this.login = await api.checkLogin(
        this.email,
        this.password,
        this.usersArray
      );
      this.admin = await api.isAdmin(
        this.email,
        this.password,
        this.usersArray
      );
      if (this.login == true) {
        store.user = this.email;
        if (this.admin == true) {
          store.admin = this.email;
          this.email = "";
          this.password = "";
          this.$router.push("/admin");
        } else {
          this.email = "";
          this.password = "";
          this.$router.push("/principal");
        }
      } else {
        this.showError = true;
        this.error = "login incorrecto";
        this.email = "";
        this.password = "";
      }
    },
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login-page {
  padding: 2% 5%;
  border-radius: 1rem;
  background: #cccccc;
  box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
  margin-left: 0 auto;
  width: 40%;
  opacity: 0.9;
  margin-top: 20%;
}

.input-search {
  border: none;
  border-radius: 1rem;
  background: rgb(184, 61, 57);
  padding: 0.7rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
button {
  font-size: 1rem;
  border: none;
  border-radius: 200%;
  cursor: pointer;
  background: rgb(192, 102, 80);
  padding: 0.7rem 1.4rem;
  color: white;
  margin-top: 1rem;
  margin-left: 34%;
}
button:hover {
  background: rgba(133, 118, 94, 0.9);
}
.error {
  padding: 1.3rem 0.3rem;
  border-radius: 1rem;
  background: rgb(192, 102, 80);
  box-shadow: 0.5rem 1rem 0.9rem 0.2rem #ccccccb8;
  margin-bottom: 1rem;
  width: 40%;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
</style>
